@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
}

html {
    font-size: 62.5%;
}

/* header */

nav {
    background-color: #faf3ea;
    height: 12vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

nav img {
    height: 90%;
    position: relative;
    display: inline-block;
    left: 4%;
}

img #logo {
    display: inline-block;
}

.main-nav {
    display: inline-block;
    font-family: 'PT Serif', serif;
    font-size: 1.6em;
    position: relative;
    color: #7e7a75;
    left: 61%;
}

.main-nav__item {
    list-style: none;
    display: inline-block;
    padding: 0.5em;

}

/* header */


/* aside */

aside {
    height: 80vh;
    width: 21vw;
    border: 10px;
    border-right: 3.5px solid #faf3ea;
    padding: 1.6em;
    display: inline-block;
}

.aside-tittle {
    text-align: center;
    font-size: 1.8em;
}

.aside-article {
    padding: 2.5%;
}

.aside-article__img img {
    width: 100%;
}

.aside-article h2 {
    text-align: center;
    font-size: 1.5em;  
}

.aside-article h2 a {
    text-decoration: none;
    color: #000;
}

.aside-article p {
    text-align: justify;
    padding-top: 3%;
    font-size: 1.25em;
}

/* aside */

/* main */

main {
    display: inline-block;
    height: 80vh;
    width: 100vw;
}

.main-content {
    display: inline-block;
    width: 78vw;
    height: 74vh;
    text-align: center;
    padding-left: 1%;
}

.main-content .main-content_tittle {
    font-size: 2.6em;
    padding-bottom: 0.2%;
}

.main-content #artes-liberales {
    font-weight: 400;
    font-style: italic;
    font-size: 2.6em;
    padding-top: 0.2%;
    
}

.main-content img {
    width: 80%;
}

.mision-vision-artesLiberales {
    text-align: left;
    padding: 0.4% 10%;
}

.mision-vision-artesLiberales h4{
    text-align: left;
    font-size: 2em;
    font-weight:500;
}

.mision-vision-artesLiberales p{
    font-family: Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    color: #54585d;
    padding-top: 0.4%;
    line-height: 140%;
    text-align: justify;
}

.space {
    height: 0.001%;
}

.space p {
    color:#faf3ea;
    height: 0.1%;
}

/* main */

/* footer */

footer {
    height: 8vh;
    width: 100vw;
    background-color: #231F20;
}

footer img {
    fill: rgb(0, 174, 255) !important;
}


path {
    fill: currentColor;
}
/* footer */